PORT=8080
DB_URL_DEV=postgres://rambo:rambo@localhost:2800/haven
DB_URL_PRODUCTION=postgres://authors:haven@localhost:2800/haven
NODE_ENV=development
BASE_URL=/api/v5
JWT_KEY=passkey
REDIRECT_URL=http://localhost:5000/api/v1/auth/facebook/callback
FACEBOOK_APP_ID=4342d2e47a9265845478yuy343y
FACEBOOK_APP_SECRET=5y4384y545510
GOOGLE_CLIENT_ID=65777575575-ygc547736474484.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=758558rbbc_846u7676867675GIS
GOOGLE_REDIRECT_URL=http://localhost:5000/api/v1/auth/google/callback
TWITTER_CONSUMER_KEY=EALrertwetfwefefdd
TWITTER_CONSUMER_SECRET=sbfbcsbcbffcbfhggdgsjbzdccznc
TWITTER_REDIRECT_URL=http://localhost:5000/api/v1/auth/twitter/callback
SESSION_SECRET=keyboard cat
SENDGRID_API_KEY=gjkijsjdkhfjkshfhfsjh
CLOUD_NAME=teamrambo
CLOUD_API_KEY=rambo
CLOUD_API_SECRET=rambo
